@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,400');

html{
	font-family: 'Raleway', sans-serif;
}

h1{
	color: #f69679;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 50px;
}

img{
	max-width: 1200px;
	margin-left: 200px;
}

.top-images{
	margin-left: 100px;
}

.top-images img{
	width:45%;
	display: inline;
	margin:10px;
}

p{
	margin-left: 100px;
	margin-right: 100px;
	line-height: 30px;
	margin-top: 45px;
	margin-bottom: 45px;
}

#intro{
	line-height: 45px;
	font-size: 30px;
}

#processpicsleft{
	width: 35%;
	height: auto;
	margin-left: 110px;
	display: inline;
	margin-right: 50px;
	float: left;
}

#processpicsright{
	width: 35%;
	margin-right: 170px;
	float: right;
	margin-top: 50px;
}

#concluding{
	text-align: center;
	margin-bottom: 50px;
	font-weight: bold;
}


.header{
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-top: 350px;
	margin-bottom: 100px;
}

#first{
	width: 1400px;
	margin-left: 250px;
}

#date{
	font-size:50px;
}

#list{
	text-align: center;
	max-width:800px;
	margin: 0 auto;
	line-height: 30px;
	font-family: 'Raleway', sans-serif;
}

#list li{
	margin: 20px;
}

span{
	font-weight: bold;
	color: #f69679;
}
/*
.img-magnifier-container {
	position:relative;
}

.img-magnifier-container img{
	width: 35%;
	height: auto;
	margin-left: 110px;
	display: inline;
	margin-right: 50px;
	float: left;
}

.img-magnifier-glass {
	position: relative;
	border: 2px solid #f69679;
	border-radius: 50%;
	cursor: none;
	width: 100px;
	height: 100px;
	margin-left: 110px;
}
*/



